.box{
  padding: 0;
  box-shadow: -5px 5px rgba(0,0,0,.5);
  
  @media only screen and(max-width: 780px){
    width: 100% !important;
  }

  &__list{
    list-style: none;
    padding: 5px 10px;
  }

  &__text{
    text-shadow: -1px 1px red;
    font-size: 18px;
    font-weight: bold;
  }

  &__check{
    cursor: pointer;
  }
}
.check{
    text-decoration:line-through;
    color: gold !important;
}